.swiper {
  width: 100%;
  height: 400px;
  margin-top: 1rem;
}

/*No need. Settings in <Card> */

/* .swiper-slide { 
  display: flex;
  justify-content: center;
  align-items: center;
} */

.swiper-button-next,
.swiper-button-prev {
  color: brown !important;
  transform: scale(70%) translateY(-80px);


}