.swiper {
  width: 100%;
  height: 300px;
  transform: scale(170%);
  margin-top: 7rem; 
  
}

/* .swiper-slide { 
  display: flex;
  justify-content: center;
  align-items: center;
} */


